<nav class="nav">
	<a href="/"><i class="fa-solid fa-house"></i></a>
	<a href="/statistics"><i class="fa-solid fa-chart-simple"></i></a>
	<a href="/profile"><i class="fa-solid fa-user"></i></a>
	<a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
</nav>