<div class="home">
	<div class="user-info">This is the user-info </div>
	{{>nav}}
	<div class="main-container">
		<div class="button-container">
			<button> report incident </button>
		</div>

		<h3>Incidents</h3>
		<div class="incidents-container">
			<div>This is an incident</div>
			<div>This is an incident</div>
			<div>This is an incident</div>
			<div>This is an incident</div>
			<div>This is an incident</div>
			<div>This is an incident</div>
			<div>This is an incident</div>
		</div>
	</div>
</div>