<div class="page">
	<div class="user-info"></div>
	{{>nav}}
	<div class="main-container home-container">
		<div class="button-container">
			<button id="submit-report"> Report Incident </button>
		</div>

		<h3>Incidents</h3>
		<div id="incidents" class="incidents-container"></div>
	</div>
</div>



<script defer src="/js/home/create-incident.js"></script>
<script defer src="/js/home/display-incidents.js"></script>
<script defer src="/js/home/home-script.js"></script>
<script defer src="/js/display-user-info.js"></script>