<div class="page">
	<div class="user-info"></div>
	{{>nav}}
	<div class="main-container incident-container">
		
	</div>
</div>


<script>const INCIDENT_ID = {{{incidentId}}};</script>
<script defer src="/js/incident-page/display-incident.js"></script>
<script defer src="/js/incident-page/action-incident.js"></script>
<script defer src="/js/display-user-info.js"></script>