<div class="page">
	<div class="user-info"></div>
	{{>nav}}
	<div class="main-container home-container">
	</div>
</div>


<script defer src="/js/profile-page/display-profile-incidents.js"></script>
<script defer src="/js/display-user-info.js"></script>
