@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

body {
	background-color: #4C4E52;
	color: white;
	font-family: 'Kanit', sans-serif;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: yellow;
}

.page { 
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	gap: 1.8rem 1.8rem;
	grid-auto-flow: row;
	grid-template-areas:
		"user-info user-info . . ."
		"nav main-container main-container main-container main-container"
		"nav main-container main-container main-container main-container"
		"nav main-container main-container main-container main-container";
	margin: 5rem;
	height: 80%;
}

.user-info {
	grid-area: user-info;
	background-color: lightgrey;
	color: black;
	border-radius: 1rem;
	box-shadow: 0.1rem 0.1rem black;
}

.nav {
	grid-area: nav;
	background-color: lightgrey;
	color: black;
	display: flex;
	flex-flow: column wrap;
	border-radius: 1rem;
	box-shadow: 0.1rem 0.1rem black;
}

.main-container {
	grid-area: main-container;
	background-color: lightgrey;
	color: black;
	padding: 2rem;
	border-radius: 1rem;
	box-shadow: 0.1rem 0.1rem black;
}


.nav a {
	display: block;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	margin: 0.5rem;
}

.nav a:hover {
	color: yellow;
}


/* HOME */


.button-container {
	margin-bottom: 5rem;
}

.button-container button {
	font-weight: bold;
	font-size: 2rem;
	background-color: yellow;
	border: solid black 0.1rem;
	border-radius: 1rem;
	padding: 0.5rem;
	box-shadow: 0.1rem 0.1rem black;
}

.button-container button:hover {
	background-color: orange;
}


#incidents {
	display: inline-block;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: none;
	height: 50%;
	width: 100%;
	border: 0.1rem solid black;
	border-radius: 0.5rem;
}

#incidents .incident {
	display: flex;
	height: 4rem;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	cursor: pointer;
	padding: 1rem;
}

#incidents .incident:hover {
	background-color: white;
}


#incidents .incident .labels-container .label {
	color: purple;
}

/* USER INFO FIELD */

.user-info {
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.user-info h3 {
	font-weight: bold;
	text-decoration: underline;
}


/* INCIDENT PAGE */

.main-container.incident-container {  display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 1.5rem 1.5rem;
	grid-auto-flow: row;
	grid-template-areas:
	"incident-labels incident-information"
	"incident-bystanders incident-aggressors";
	background-color: white;
}

.incident-labels {
	grid-area: incident-labels;
}

.incident-labels span {
	color: purple;
	font-weight: bold;
}

.incident-information {
	grid-area: incident-information;
}

.incident-bystanders {
	grid-area: incident-bystanders;
}

.incident-aggressors {
	grid-area: incident-aggressors;
}

.main-container.incident-container div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	background-color: lightgrey;
	border-radius: 0.5rem;
	padding: 0.5rem;
}

.main-container.incident-container h3 {
	font-weight: bold;
}

#end, #help {
	background-color: yellow;
	border: 0.1rem solid black;
	padding: 0.5rem;
	border-radius: 1rem;
}

#end:hover, #help:hover {
	background-color: orange;
}

/* PROFILE */

.main-container.profile-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.profile-incident .labels-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-incident .label {
	background-color: #cc00ff;
	margin-left: 1rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	color: white;
	font-weight: bold;
}


/* LOGIN - REGISTER PAGE */

.wrapper-auth {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.logo-container {
	margin: 2rem;
	height: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.logo-container img {
	max-height: 100%;
	max-width: 100%;
}

.login, .register {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.login form, .register form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.login h2, .register h2 {
	font-weight: bold;
}

.login form input, .login h2, .register form input, .register h2 {
	margin-bottom: 1rem;
}

.login form input, .register form input {
	padding: 0.5rem;
	border: none;
	border-radius: 0.5rem;
}

#login, #register {
	border: 0.1rem solid black;
	color: black;
	background-color: yellow;
	margin-bottom: 2rem;
	border-radius: 0.5rem;
}

#login:hover, #register:hover {
	background-color: orange;
	color: black;
}

input:focus{
    outline: none;
}
